.button-fire {
  background-image: url("./img/fire.png");
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat no-repeat;
  background-position-x: center;
  background-position-y: -28px;
  width: fit-content;
  height: fit-content;
  padding: 50px;
  border: 0px;
  color: white;
  font-size: 18px;
  font-weight: 800;
}
.rainbowWrapper {
  text-align: center;
}
.letter {
  font-size: 30vh;
  font-weight: 800;
}
p.letter[--nth-letter="1"] {
  color: red;
  background: yellow;
}
p.letter[--nth-letter="2"] {
  color: green;
}
h1.letter[--nth-letter="1"] {
  background: red;
}
.rainbow-text {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  -webkit-background-clip: text;
  color: transparent;
}
