body,
h1,
h2 {
  margin: 0;
  padding: 0;
}
.button-fire {
  background-image: url("./img/fire.png");
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat no-repeat;
  background-position-x: center;
  background-position-y: -28px;
  width: fit-content;
  height: fit-content;
  padding: 50px;
  border: 0px;
  color: white;
  font-size: 18px;
  font-weight: 800;
}
.rainbowWrapper {
  text-align: center;
  line-height: 100vh;
  vertical-align: middle;
}
.letter {
  font-size: 10vw;
  font-weight: 800;
}

.rainbow-text {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  background-position: 0px 0px;

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
